# **Topic: Artificial Neural Networks**

In [ ]:

import pandas as pd
import numpy as np

import seaborn as ns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from yellowbrick.classifier import ConfusionMatrix

In [ ]:


data = pd.read_csv("/content/test_scores.csv")
data.head()

  school school_setting school_type  ...             lunch pretest  posttest
0  ANKYI          Urban  Non-public  ...  Does not qualify    62.0      72.0
1  ANKYI          Urban  Non-public  ...  Does not qualify    66.0      79.0
2  ANKYI          Urban  Non-public  ...  Does not qualify    64.0      76.0
3  ANKYI          Urban  Non-public  ...  Does not qualify    61.0      77.0
4  ANKYI          Urban  Non-public  ...  Does not qualify    64.0      76.0

[5 rows x 11 columns]

In [ ]:
data.drop(['classroom', 'student_id'], axis = 1, inplace = True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133 entries, 0 to 2132
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school           2133 non-null   object
 1   school_setting   2133 non-null   object
 2   school_type      2133 non-null   object
 3   teaching_method  2133 non-null   object
 4   n_student        2133 non-null   float64
 5   gender           2133 non-null   object
 6   lunch            2133 non-null   object
 7   pretest          2133 non-null   float64
 8   posttest         2133 non-null   float64
dtypes: float64(3), object(6)
memory usage: 150.1+ KB

In [ ]:
data.describe().round(2)

       n_student  pretest  posttest
count    2133.00  2133.00   2133.00
mean       22.80    54.96     67.10
std         4.23    13.56     13.99
min        14.00    22.00     32.00
25%        20.00    44.00     56.00
50%        22.00    56.00     68.00
75%        27.00    65.00     77.00
max        31.00    93.00    100.00

In [ ]:
X = data.drop('posttest', axis = 1)
y = data['posttest']

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
categories = ['school', 'school_setting', 'school_type', 'teaching_method', 'gender', 'lunch', 'pretest']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', one_hot, categories)],
 remainder = 'passthrough')
X_transformed = transformer.fit_transform(X)

In [ ]:
np.random.seed(9)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size = 0.2)

In [ ]:
from sklearn.neural_network import MLPRegressor
model = MLPRegressor()
mlp = model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [ ]:
model.get_params(deep=True)

{'activation': 'relu',
 'alpha': 0.0001,
 'batch_size': 'auto',
 'beta_1': 0.9,
 'beta_2': 0.999,
 'early_stopping': False,
 'epsilon': 1e-08,
 'hidden_layer_sizes': (100,),
 'learning_rate': 'constant',
 'learning_rate_init': 0.001,
 'max_fun': 15000,
 'max_iter': 200,
 'momentum': 0.9,
 'n_iter_no_change': 10,
 'nesterovs_momentum': True,
 'power_t': 0.5,
 'random_state': None,
 'shuffle': True,
 'solver': 'adam',
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': False,
 'warm_start': False}

In [ ]:

y_pred_mlp = model.predict(X_test)

The R2 score is a very important metric that is used to evaluate the performance of a regression-based machine learning model

Mean Absolute Error (MAE) - absolute error refers to the magnitude of difference between the prediction of an observation and the true value of that observation.

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
preds = model.predict(X_test)
r2 = r2_score(y_test, preds)
mae = mean_absolute_error(y_test, y_pred_mlp)
mse = mean_squared_error(y_test, y_pred_mlp)
print(f'Accuracy Score: {r2 * 100:.2f}%')
print("Accuracy Score", accuracy_score(y_test, y_pred))
print(f'MAE: {mae:.2f}')

Accuracy Score: 92.31%
MAE: 3.02